<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr color="navy" size="5px" />
    <h1 align="center">Application Default Page</h1>
    <h3 align="right">Welcome <%= name%></h3>
    <h3 align="right">Welcome <%- name%></h3>
    <hr color="navy" size="5px" />

    <!--<%= msg %>
    <%- msg %>
    <% msg %>-->

    <% if(isValid) { %>
            <h4>Welcome <%= name %></h4>
            <p style="background-color: aqua; padding: 20px;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, quam aliquid. Natus, placeat quod ut praesentium nostrum incidunt autem et?
            </p>
       
     <% } else { %>

            <h4>Welcome Guest <%= name %></h4>
            <p style="background-color: magenta; padding: 20px;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, quam aliquid. Natus, placeat quod ut praesentium nostrum incidunt autem et?
            </p>

        <% } %>
</body>
</html>