<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr color="green" size="5px" />
    <h1 align="center">Application Home Page</h1>
    <hr color="green" size="5px" />

    <%= fruitNames[0] %>

    <ul>
        <% fruitNames.forEach((fruit)=>{ %>
            <li> <%= fruit %> </li>
          <% }) %>
    </ul>    

    <%= userData.uid %>
    <%= userData.unm %>
    <%= userData.gender %>
</body>
</html>